# Docker
**/docker-compose.override.yml
**/.dockerignore
**/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Database
*.db
*.sqlite
*.dump

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sensores
**/healthcare_pb2*
**/*_pb2*.py